.net-theme-l5 {color:#000 !important; background-color:#f0f0f0 !important}
.net-theme-l4 {color:#000 !important; background-color:#cccccc !important}
.net-theme-l3 {color:#fff !important; background-color:#999999 !important}
.net-theme-l2 {color:#fff !important; background-color:#666666 !important}
.net-theme-l1 {color:#fff !important; background-color:#333333 !important}
.net-theme-d1 {color:#fff !important; background-color:#000000 !important}
.net-theme-d2 {color:#fff !important; background-color:#000000 !important}
.net-theme-d3 {color:#fff !important; background-color:#000000 !important}
.net-theme-d4 {color:#fff !important; background-color:#000000 !important}
.net-theme-d5 {color:#fff !important; background-color:#000000 !important}

.net-theme-light {color:#000 !important; background-color:#f0f0f0 !important}
.net-theme-dark {color:#fff !important; background-color:#000000 !important}
.net-theme-action {color:#fff !important; background-color:#000000 !important}

.net-theme {color:#fff !important; background-color:#000000 !important}
.net-text-theme {color:#000000 !important}
.net-border-theme {border-color:#000000 !important}

.net-hover-theme:hover {color:#fff !important; background-color:#000000 !important}
.net-hover-text-theme:hover {color:#000000 !important}
.net-hover-border-theme:hover {border-color:#000000 !important}
